<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body ng-app='FormulaCalc'>
    <h1>Вычисление значений функций</h1>
    <div ng-controller="FormulaController as App">
        <h2>Выберите функцию: </h2>
        <ul class="formulas">
            <li ng-repeat="formula in App.formulas">
                <label>
                    <input type="radio"
                        name="formula"
                        ng-model="App.selectedFormula"
                        value="{{ formula.name }}">
                    {{ formula.name }}
                </label>
            </li>
        </ul>
        <form 
            ng-submit="App.calculateFormula()"
            ng-if="App.showArgumentForm">
            <label ng-repeat="a in App.arguments">{{ a + ": " }}
                <input type="number" step="0.01" ng-model="App.filledArguments[$index]">
                <br>
            </label>
            <input type="submit">
        </form>

        <table class="results" ng-if="App.results.length">
            <tr>
                <td>x</td>
                <td ng-repeat="result in App.results track by $index">{{ $index - (App.results.length - 1) / 2 }}</td>
            </tr>
            <tr>
                <td>y</td>
                <td ng-repeat="result in App.results track by $index">{{ result | number:2 }}</td>
            </tr>
        </table>
        <button ng-click="App.showHelp()">Справка</button>
    </div>
    <script src="./thirdparty/angular.min.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>